# AZtools
AZtools/src/main/java/extraction/summary/abs_to_summ/*
AZtools/src/main/java/webapp/Globs.java
testing/name/*pdf*
testing/pdfs
*.pdf
response.json

# IntelliJ
*.iws

# Eclipse
*.classpath
*.project
*.settings

# Mac
*.DS_Store*
