# AZtools
AZtools/src/main/java/extraction/summary/abs_to_summ/*
AZtools/src/main/java/extraction/Paths.java
AZtools/.idea*
AZtools/target/*
testing/name/*pdf*
testing/pdfs
*.pdf
response.json

# Cermine
cermine-impl/target/*

# IntelliJ
.idea/*
*.iml
*.iws
out/*

# Eclipse
*.classpath
*.project
*.settings

# Mac
*.DS_Store*
